@media only screen and (min-device-width : 375px)   and (max-device-width : 667px) and (orientation : landscape) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}
}
/* iphone 6 portrait */
@media only screen and (min-device-width : 375px)  and (max-device-width : 667px) and (orientation : portrait ) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}	
}
/* iphone 6 Plus landscape */
@media only screen and (min-device-width : 414px)   and (max-device-width : 736px) and (orientation : landscape) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}
}
/* iphone 6 Plus portrait */
@media only screen and (min-device-width : 414px)  and (max-device-width : 736px) and (orientation : portrait ) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}	
}
/* iphone 5/5s landscape */
@media only screen and (min-device-width : 320px)  and (max-device-width : 568px) and (orientation : landscape ) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}	
}
/* iphone 5/5s portrait */
@media only screen and (min-device-width : 320px)  and (max-device-width : 568px) and (orientation : portrait ) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 1.7em!important;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}	
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessTitleHolder {
		font-size: 21px;
	}
}
/* iphone 4 below landscape */
@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) and (orientation : landscape ) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}	
}
/* iphone 4 below  portrait */
@media only screen and (min-device-width : 320px)  and (max-device-width : 480px) and (orientation : portrait ) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
	.categoryListHolder > ul > li {
		padding: 0 25px;
	}	
}
/* ipad mini landscape */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : landscape ) and (-webkit-min-device-pixel-ratio: 1) { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.2em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 20%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #666666;
	}
	.subContainer.bannerHolder .bannerBackGroundHolder img {
		max-width: inherit;
		height: 100px;
		width: auto;
	}
	.subContainer.footerHolder .footerSubscribeHolder {
		padding: 0 15px;
	}
}
/* ipad mini portrait */
@media only screen and (min-device-width : 768px)  and (max-device-width : 1024px) and (orientation : portrait ) and (-webkit-min-device-pixel-ratio: 1)  { 
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 25%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li .iconHolder {
		display: none;
	}
}
@media only screen and (min-width : 1024px)  and (max-width : 1279px)  {
}
@media only screen and (min-width : 1280px)   {
}
@media only screen and (max-width : 1023px)   {
	
	#mainHeader {
		display: none;
	}
	#mainHeaderMobile {
		display: block;
	}
	.subContainer .container {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder {
		background-color: rgba(128, 180, 55, 0.7)
	}
	.subContainer .languageSelectorHolder > ul > li .languageLabel {
		display: none;
	}
	.subContainer header ul.headerContentsHolder > li.topOptions {
		padding: 0;
	}
	.subContainer header .headerOptionsHolder > ul > li {
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer header .headerOptionsHolder > ul {
		float: none;
		width: 350px;
		margin: auto;	
	}
	.subContainer header ul.headerContentsHolder > li.navIcon {
		line-height: 60px;
	} 
	.subContainer header ul.headerContentsHolder > li.navIcon  a {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		text-align: center;
		color: #666666;
		font-size: 20px;
	}
	.subContainer .languageSelectorHolder > ul > li .caretHolder {
		color: #FFFFFF;
	}	
	.subContainer .headerActionsHolder > ul > li .languageLabel {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer .headerActionsHolder > ul > li .langIcon {
		color: #FFFFFF;
		font-weight: 400;
	}
	.subContainer header ul.headerContentsHolder > li.logoHolder img {
		height: 60px;
		max-width: inherit;
		width: auto;
	}
	.subContainer header .headerOption {
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		border-bottom: 2px solid transparent;
		border-radius: 0 0 0px 0px;
	}	
	.subContainer .languageSelectorHolder > ul > li#selectedLanguage:hover {
		background-color: transparent;
	}
	.subContainer .languageSelectorHolder > ul.open > li.langList:hover{
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.bannerHolder .welcomeMessageHolder {
		font-size: 2em;
	}
	.subContainer.bannerHolder .welcomeMessageContainer {
		padding: 20px 0;
	}
	.subContainer.bannerHolder .subInfoHolder {
		font-size: 1.5em;
	}
	.searchMobile {
		display: block;
		text-align: center;
	}
	.searchMobile button {
		float: none;
		overflow: hidden;
		display: block;
		box-sizing: border-box;
		border: solid 1px #85af4b;
		line-height: 28px;
		font-size: 17px;
		color: #FFFFFF;
		padding: 0 50px;
		background-color: #85af4b;
		text-align: center;
		margin: auto;
	}
	.subContainer.bannerHolder .searchBoxHolder {
		display: none;
	}
	.subContainer.bannerHolder {
		height: auto;
		padding: 20px 15px;
	}
	.categoryListHolder {
		margin: 0;
	}
	.subContainer.midContentHolder {
		padding: 20px 15px;
	}
	.categoryListContainer .topSectionHolder .labelHolder {
		font-size: 1.5em;
		padding: 0;
	}
	.categoryListContainer .midSectionHolder .labelHolder {
		font-size: 1.5em;
		line-height: 25px;
		font-weight: 600;
	}
	.subContainer.midContentHolder .midMessageHolder {
		font-size: 1.5em;
	}
	.subContainer.midContentHolder .featuredBusinessHolder .featuredBusinessThumbsHolder > ul > li {
		padding: 0 25px 15px;
	}
	.subContainer.popularContentsHolder .popularCategoriesListHolder > ul > li {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
	}
	.subContainer.featuredServices {
		padding: 20px 15px;	
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.featuredServices .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}
	.subContainer.adsHolder {
		padding: 20px 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:first-child {
		padding: 15px;
	}
	.subContainer.adsHolder .sectionListHolder > ul > li:last-child {
		padding: 15px;
	}	
	.subContainer.messageHolder {
		padding: 0 15px;
	}
	.subContainer.footerHolder .mainFooterHolder {
		width: 100%;
		float: left;
		overflow: hidden;
		display: block;
		padding: 10px 0;
		background-color: rgba(128, 180, 55, 0.7);
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li {
		padding: 0 0px;
	}
	.subContainer.footerHolder .footerListHolder > ul > li {
		color: #FFFFFF;
	}
	.subContainer.footerHolder .mainFooterHolder > ul > li.hideInMobile {
		display: none;
	}
}